@tailwind base;
@tailwind components;
@tailwind utilities;



#coverimage{
    background-image: url('./assets/assignment-7-cover-photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}